PORT=3004
APIKEY=123456
REDIS_URL=redis://127.0.0.1:6379
CAPMONSTER_KEY=seu_token_capmonster
CAPTCHA2_API_KEY=seu_token_2captcha
PLAYPANEL_URL=https://api.playpainel.com/
PLAYPANEL_PANEL_URL=https://playpainel.com/login
PLAYPANEL_RECAPTCHA_SITEKEY=0x4AAAAAAFAORi8vAjtQe9Lx
DEFAULT_PLAYPANEL_USER=Marcelo15
DEFAULT_PLAYPANEL_PASS=10203040wW
